* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    background-color: hsl(0, 0%, 15%);
}
input {
    width: 100%;
    padding: 10px;
    font-size: 5rem;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: none;
    outline: none;
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}
#keys button {
    background-color: hsl(0, 0%, 30%);
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
}
#keys button:hover {
    background-color: hsl(0, 0%, 40%);
}
#keys button:active {
    background-color: hsl(0, 0%, 50%);
}
.operator-btn {
    background-color: hsl(35, 100%, 55%) !important;
}
.operator-btn:hover {
    background-color: hsl(35, 100%, 65%) !important;
}
.operator-btn:active {
    background-color: hsl(35, 100%, 75%) !important;
}
@media (max-width:992px) {
    #calculator {
        width: 450px;
    }
    input {
        padding: 8px;
        font-size: 2.5rem;
    }
    #keys button {
        width: 70px;
        height: 70px;
        font-size: 2rem;
    }
}
@media (max-width:650px) {
    #calculator {
        width: 400px;
    }
    input {
        padding: 6px;
        font-size: 2rem;
    }
    #keys button {
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }
}